{% load static %}<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{title}}</title>
    <link rel="stylesheet" href="{% static 'global/css/style.css' %}">
    <script src="{% static 'global/js/script.js' %}"></script>
</head>
<body>
    
    {% include "global/_search.html" %}
    
    <div class="btn-container">
        <a class="btn btn-border-reveal" href ="{% url "news_app:index" %}">Pagina Inicial</a>
    </div>


    {% block conteudo %}
    
    {% endblock conteudo %}

    {% include "global/paginacao.html" %}
</body>
</html>




