{% if lista_de_noticias %}
<div class="btn-container">
    <div class="pagination">
        <span class="step-links">
            {% if lista_de_noticias.has_previous %}
                <a  class="btn btn-border-reveal" href="?page=1&q={{ request.GET.q.strip }}">&laquo; Primeira Página</a>
                <a  class="btn btn-border-reveal" href="?page={{ lista_de_noticias.previous_page_number }}&q={{ request.GET.q.strip }}"><</a>

            {% endif %}

            <span class="paginacao">
                Página {{ lista_de_noticias.number }} de {{ lista_de_noticias.paginator.num_pages }}
            </span>

            {% if lista_de_noticias.has_next %}
                <a  class="btn btn-border-reveal" href="?page={{ lista_de_noticias.next_page_number }}&q={{ request.GET.q.strip }}">></a>
                <a  class="btn btn-border-reveal" href="?page={{ lista_de_noticias.paginator.num_pages }}&q={{ request.GET.q.strip }}">Ultima Página &raquo;</a>


            {% endif %}
        </span>
    </div>
</div>
{% endif %}


