
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
    
}

body{
    background:#edecf1;
    padding:40px;
}


a{
text-decoration: none;
}

h2:hover{
color:#ff6600;
}

.noticias{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(330px,1fr));
    max-width: 1680px; /* 4 x 330px + espaçamentos */
    margin: 0 auto; 
    gap:30px;
}

.card{
    background:#fff;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 8px 25px rgba(0,0,0,.15);
    transition:.35s;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 20px 40px rgba(0,0,0,.25);
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.conteudo{
    padding:22px;
}

.categoria{
    display:inline-block;
    color:#fff;
    padding:6px 14px;
    border-radius:50px;
    font-size:13px;
    font-weight:bold;
    margin-bottom:15px;
}

.tecnologia{
    background:#0066ff;
}

.esportes{
    background:#18a558;
}

.politica{
    background:#d62828;
}

.card h2{
    font-size:25px;
    margin-bottom:15px;
    color:#222;
    line-height:1.3;
}
.card h2:hover{
    color:#ff6600;
    transition:.3s;
}
.card p{
    color:#666;
    line-height:1.7;
    margin-bottom:20px;
}

.rodape{
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-top:1px solid #eee;
    padding-top:18px;
}

.rodape span{
    color:#888;
    font-size:14px;
}

.rodape a{
    text-decoration:none;
    color:#0d6efd;
    font-weight:bold;
    transition:.3s;
}

.rodape a:hover{
    color:#ff6600;
}



  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto; 
    width: 100%;
  }

  .search-box {
    display: flex;
    align-items: center;
    background: #f1f3f5;
    border-radius: 30px;
    padding: 5px 10px;
    width: 900px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
  }

  .search-box:focus-within {
    border-color: #228be6;
    background: #fff;
    box-shadow: 0 4px 12px rgba(34, 139, 230, 0.15);
  }

  .search-box input {
    flex: 1;
    border: none;
    background: transparent;
    padding: 8px 12px;
    font-size: 14px;
    outline: none;
    color: #495057;
  }

  .search-btn {
       background: #1c7ed6;

    border: none;
    color: white;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.2s;
  }

  .search-btn:hover {
    background: #d62828;

  }



.btn-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 40px auto;
  
}

.btn {
  padding: 10px 20px;
  margin: auto 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  border-radius: 10px;
}


/* 3. Border Reveal */
.btn-border-reveal {
  background-color: transparent;
  color: #1c7ed6;
  border: 2px solid #1c7ed6;
  position: relative;
  font-weight: bold;

  
}


.btn-border-reveal::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #d62828;
  transition: width 0.3s ease;
  z-index: -1;
}

.btn-border-reveal:hover::after {
  width: 100%;
}

.btn-border-reveal:hover {
  color: #fff;
  border: 2px solid #d62828;
}


.paginacao {
  background-color: transparent;
  color: #1c7ed6;
  position: relative;
  font-weight: bold;

  
}

.nada_por_aqui{
text-align: center;
color:#1c7ed6;
font-weight: bold;
}
